<style>
  a {
    text-decoration: none !important;
  }

  @media (max-width: 998px) {
    .top_menu .float-right {
      display: none;
    }

    .top_menu .float-left {
      float: none !important;
      text-align: center;
    }

    .top_menu .col-lg-7,
    .top_menu .col-lg-5 {
      width: 100%;
      text-align: center;
    }
  }
</style>

<div class="top_menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="float-left">
          <p>Phone: +01 256 25 235</p>
          <p>Email: info@eiser.com</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="float-right">
          <ul class="right_side">
            <li>
              <a href="cart.html">Gift Card</a>
            </li>
            <li>
              <a href="tracking.html">Track Order</a>
            </li>
            <li>
              <a href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>