{% assign current_blog = section.settings.blog %}
{% if current_blog != blank %}
  {% paginate current_blog.articles by 3 %}
    <section class="blogs-new section-{{ section.id }}-padding page-width">
      <div class="text-center">
        <h2 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          {{ section.settings.heading | default: current_blog.title | escape }}
        </h2>
        {% if section.settings.subheading != blank %}
          <p class="subtitle">
            {{ section.settings.subheading }}
          </p>
        {% endif %}
      </div>

      <div class="grid grid--1-col-tablet-down grid--3-col-desktop blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
        {% for article in current_blog.articles %}
          <div
            class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'article-card',
              article: article,
              media_height: section.settings.image_height,
              media_aspect_ratio: article.image.aspect_ratio,
              show_image: section.settings.show_image,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_excerpt: true
            %}
          </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% render 'pagination', paginate: paginate %}
      {% endif %}
    </section>
  {% endpaginate %}
{% endif %}
