<div class="logo-blocks">
  {% for block in section.blocks %}
    <div class="logo-block">
      {% if block.settings.icon != blank %}
        <img src="{{ block.settings.icon | img_url: '50x50' }}" alt="{{ block.settings.title }}">
      {% endif %}
      <h3>{{ block.settings.title }}</h3>
      <p>{{ block.settings.description }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Logo Blocks",
    "settings": [],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Money Back Guarantee"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Shall open divide a one"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo Blocks",
        "blocks": [
          {
            "type": "icon"
          }, {
            "type": "icon"
          }, {
            "type": "icon"
          }, {
            "type": "icon"
          }
        ]
      }
    ]
  }
{% endschema %}


{% stylesheet %}
  .logo-blocks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
  }

  .logo-block {
    text-align: center;
    width: 100%;
    max-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .logo-block img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .logo-block h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .logo-block p {
    font-size: 14px;
    color: #666;
  }

{% endstylesheet %}